<% include ./partials/header.ejs %>
<link href="../public/css/gdp-1.0.0/jobmanagement.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


<div class="container">
<div id="container" style="min-width: 410px; height: 500px; max-width: 800px; margin: 0 auto"></div>
</div>
<% /*
<div class="container">
    <div class="titlehead">
      <h4>Telesales-Reports</h4> 
    </div>
    <div class="reports">
      <div class="row">       
          <label for="lastname" >Today</label>
          <label for="lastname" >Yesterday</label>
          <label for="lastname" >This Week</label>
          <label for="lastname" >This Month</label>
          <label for="lastname" >This Year</label>
      </div>
      <div class="form-group">
       <label for="startDate">Start Date</label>
        <div class="input-group date " id="startDate">
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span> 
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="endDate">End Date</label>
         <div class="input-group date " id="endDate">
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span> 
          </span>
        </div>         
      </div>

        <div id="canvas-holder" style="width:30%">
            <canvas id="chart-area" />
        </div>
        <div id="chartjs-tooltip">
        </div>
    </div>
</div>

*/ %>

<% include ./partials/footer.ejs %>
